body{
    width: 100%;
    margin: 0;
    position: relative;
}
/*OUR TEAM*/
.our-team-wrapper, .our-clients-wrapper{
    margin-top: 150px;
    margin-bottom: 150px;
}
.our-team-slider-wrapper, .our-clients-slider-wrapper{
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-clients-slider-wrapper{
    margin-top: 50px;
}
.our-team-left-arrow, .our-team-right-arrow, .our-clients-left-arrow, .our-client-right-arrow{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.our-team-slider, .our-clients-slider{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}
.our-team-slider img{
    border: 1px solid transparent;
    border-radius: 20px;
    width: 200px;
    height: 250px;
}
.our-clients-slider .slick-track{
    display: flex;
    align-items: center;
}
.our-clients-slider img{
    width: 230px;
    height: auto;
}
.our-team-slide, .our-clients-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-member-name{
    font-family: Roboto;
    font-size: 1rem;
    margin-top: 10px;
}
.team-member-position{
    font-family: Roboto;
    font-size: .8rem;
    margin-top: 10px;
}

/*OUR TEAM*/

/*About-us-start*/
.about-us-wrapper{
    width: 100%;
}
.about-us-title, .services-title, .our-team-title, .our-client-title{
    font-family: Roboto;
    display: flex;
    width: 50%;
    border-bottom: 1px solid #C4A676;
    justify-content: flex-end;
    color: #C4A676;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.about-us-info{
    margin-top: 81px;
    display: flex;
    justify-content: flex-start;
}
.about-us-info img{
    width: 50%;
    margin-right: 38px;
}
.about-us-info p{
    width: 30%;
}


/*About-us-end*/

/*Service-start*/

.services-wrapper{
    width: 100%;
    background: #F8F8F8;
    padding-top: 110px;
}

.services-title{
    display: flex;
    width: 50%;
    border-bottom: 1px solid #C4A676;
    justify-content: flex-end;
    color: #C4A676;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 110px;
}

.services-container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0px auto;
}

.service-point-wrapper{
    width: 50%;
    display: flex;
}
.service-point-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-point{
    max-width: 300px;
    text-align: center;
    margin-bottom: 85px;
}

.service-point img{
    width: 70px;
}
.service-score{
    width: 50%;
    display: flex;
    margin: 0px auto;
    align-items: center;
}
.service-score-wrapper{
    background: white;
    width: 60%;
    padding: 63px 42px;
    margin: 0px auto;
}
.line-gold{
    width: 320px;
    height: 1px;
    background: #C4A676;
    margin-bottom: 66px;
}

.service-score-text{
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    text-align: center;

    color: #000000;
}
.service-score-wrapper span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #C4A676;
}
/*Service-end*/
@media (max-width: 1250px) {
    .our-team-slider-wrapper, .our-clients-slider-wrapper{
        width: 90%;
    }
    .our-team-slider img{
        width: auto;
        height: auto;
    }
    .our-clients-slider img{
        width: 200px;
        height: auto;
    }
}
@media (max-width: 1024px) {
    .our-team-slider-wrapper, .our-clients-slider-wrapper {
        width: 90%;
    }
    .our-team-slider, .our-clients-slider{
        width: 80%;
    }
    .our-team-slider img{
        border: 1px solid transparent;
        border-radius: 20px;
        width: 170px;
        height: 220px;
        margin:  0 auto;
    }
    .our-clients-slider img{
        border: 1px solid transparent;
        border-radius: 20px;
        width: 180px;
        height: auto;
        margin:  0 auto;
    }
}
@media (max-width: 769px) {
    .our-team-slider-wrapper, .our-clients-slider-wrapper {
        width: 90%;
    }
    .our-team-slider, .our-clients-slider{
        width: 85%;
    }
    .our-clients-slider img{
        border: 1px solid transparent;
        border-radius: 20px;
        width: 150px;
        height: auto;
        margin:  0 auto;
    }
    .about-us-title, .services-title, .our-team-title, .our-client-title{
        font-family: Roboto;
        display: flex;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #C4A676;
        justify-content: center;
        color: #C4A676;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .our-team-slider-wrapper, .our-clients-slider-wrapper{
        width: 90%;
    }
    .our-team-slider, .our-clients-slider{
        width: 80%;
    }
    .our-team-slider img{
        border: 1px solid transparent;
        border-radius: 20px;
        width: 250px;
        height: 300px;
        margin:  0 auto;
    }
    .our-clients-slider img{
        border: 1px solid transparent;
        border-radius: 20px;
        width: 200px;
        height: auto;
        margin:  0 auto;
    }
}
@media (max-width: 370px) {
    .our-team-slider-wrapper {
        width: 90%;
    }
    .our-team-slider{
        width: 80%;
    }
    .our-team-slider img{
        border: 1px solid transparent;
        border-radius: 20px;
        width: 170px;
        height: 220px;
        margin:  0 auto;
    }
}